<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>Oct 15 16, 11:31</string>
      <string>glyphs.O_ct 15 16, 11_31</string>
    </array>
    <array>
      <string>Oct 15 16, 11:31.background</string>
      <string>glyphs.O_ct 15 16, 11_31.background</string>
    </array>
    <array>
      <string>1</string>
      <string>glyphs.1</string>
    </array>
    <array>
      <string>1.background</string>
      <string>glyphs.1.background</string>
    </array>
  </array>
</plist>
