<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Chekhakassian-cy</key>
    <string>C_hekhakassian-cy.glif</string>
    <key>Cheverticalstroke-cy</key>
    <string>C_heverticalstroke-cy.glif</string>
    <key>Dje-cy</key>
    <string>D_je-cy.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>Fita-cy</key>
    <string>F_ita-cy.glif</string>
    <key>Ghemiddlehook-cy</key>
    <string>G_hemiddlehook-cy.glif</string>
    <key>Iishorttail-cy</key>
    <string>I_ishorttail-cy.glif</string>
    <key>Ka-cy</key>
    <string>K_a-cy.glif</string>
    <key>Tetse-cy</key>
    <string>T_etse-cy.glif</string>
    <key>Tshe-cy</key>
    <string>T_she-cy.glif</string>
    <key>Uhungarumlaut-cy</key>
    <string>U_hungarumlaut-cy.glif</string>
    <key>be-cy</key>
    <string>be-cy.glif</string>
    <key>che-cy</key>
    <string>che-cy.glif</string>
    <key>chedescender-cy</key>
    <string>chedescender-cy.glif</string>
    <key>chekhakassian-cy</key>
    <string>chekhakassian-cy.glif</string>
    <key>cheverticalstroke-cy</key>
    <string>cheverticalstroke-cy.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif</string>
    <key>dje-cy.ss04</key>
    <string>dje-cy.ss04.glif</string>
    <key>ghemiddlehook-cy</key>
    <string>ghemiddlehook-cy.glif</string>
    <key>ghemiddlehook-cy.ss04</key>
    <string>ghemiddlehook-cy.ss04.glif</string>
    <key>iishorttail-cy</key>
    <string>iishorttail-cy.glif</string>
    <key>numero</key>
    <string>numero.glif</string>
    <key>tildecomb.case</key>
    <string>tildecomb.case.glif</string>
  </dict>
</plist>
