<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.GRK_Alpha</key>
    <array>
      <string>Alpha</string>
      <string>Delta</string>
      <string>Lambda</string>
      <string>Alphatonos</string>
    </array>
    <key>public.kern1.GRK_Epsilon</key>
    <array>
      <string>Epsilon</string>
      <string>Xi</string>
      <string>Epsilontonos</string>
    </array>
    <key>public.kern1.GRK_Eta</key>
    <array>
      <string>Eta</string>
      <string>Mu</string>
      <string>Nu</string>
      <string>Pi</string>
      <string>Etatonos</string>
    </array>
    <key>public.kern1.GRK_Iota</key>
    <array>
      <string>Iota</string>
      <string>Iotatonos</string>
      <string>Iotadieresis</string>
    </array>
    <key>public.kern1.GRK_Omega</key>
    <array>
      <string>Omega</string>
      <string>Omegatonos</string>
    </array>
    <key>public.kern1.GRK_Omicron</key>
    <array>
      <string>Theta</string>
      <string>Omicron</string>
      <string>Phi</string>
      <string>Omicrontonos</string>
    </array>
    <key>public.kern1.GRK_Upsilon</key>
    <array>
      <string>Upsilon</string>
      <string>Upsilontonos</string>
      <string>Upsilondieresis</string>
    </array>
    <key>public.kern1.GRK_alpha</key>
    <array>
      <string>alpha</string>
      <string>alphatonos</string>
    </array>
    <key>public.kern1.GRK_epsilon</key>
    <array>
      <string>epsilon</string>
      <string>epsilontonos</string>
    </array>
    <key>public.kern1.GRK_eta</key>
    <array>
      <string>eta</string>
      <string>etatonos</string>
    </array>
    <key>public.kern1.GRK_gamma</key>
    <array>
      <string>gamma</string>
      <string>nu</string>
    </array>
    <key>public.kern1.GRK_iota</key>
    <array>
      <string>iota</string>
      <string>iotatonos</string>
      <string>iotadieresis</string>
      <string>iotadieresistonos</string>
    </array>
    <key>public.kern1.GRK_omega</key>
    <array>
      <string>omega</string>
      <string>omegatonos</string>
    </array>
    <key>public.kern1.GRK_omicron</key>
    <array>
      <string>delta</string>
      <string>omicron</string>
      <string>rho</string>
      <string>phi</string>
      <string>omicrontonos</string>
    </array>
    <key>public.kern1.GRK_upsilon</key>
    <array>
      <string>upsilon</string>
      <string>psi</string>
      <string>upsilontonos</string>
      <string>upsilondieresis</string>
      <string>upsilondieresistonos</string>
    </array>
    <key>public.kern1.Rho</key>
    <array>
      <string>Rho</string>
    </array>
    <key>public.kern1.kappa</key>
    <array>
      <string>kappa</string>
    </array>
    <key>public.kern1.mu</key>
    <array>
      <string>mu</string>
    </array>
    <key>public.kern1.sigma</key>
    <array>
      <string>sigma</string>
    </array>
    <key>public.kern2.GRK_Alpha</key>
    <array>
      <string>Alpha</string>
      <string>Delta</string>
      <string>Lambda</string>
      <string>Alphatonos</string>
    </array>
    <key>public.kern2.GRK_Epsilon</key>
    <array>
      <string>Beta</string>
      <string>Gamma</string>
      <string>Epsilon</string>
      <string>Eta</string>
      <string>Kappa</string>
      <string>Mu</string>
      <string>Nu</string>
      <string>Pi</string>
      <string>Rho</string>
    </array>
    <key>public.kern2.GRK_Epsilontonos</key>
    <array>
      <string>Epsilontonos</string>
      <string>Etatonos</string>
      <string>Iotatonos</string>
    </array>
    <key>public.kern2.GRK_Iota</key>
    <array>
      <string>Iota</string>
      <string>Iotadieresis</string>
    </array>
    <key>public.kern2.GRK_Omicron</key>
    <array>
      <string>Theta</string>
      <string>Omicron</string>
      <string>Phi</string>
    </array>
    <key>public.kern2.GRK_Omicrontonos</key>
    <array>
      <string>Omicrontonos</string>
      <string>Omegatonos</string>
    </array>
    <key>public.kern2.GRK_Upsilon</key>
    <array>
      <string>Upsilon</string>
      <string>Upsilondieresis</string>
    </array>
    <key>public.kern2.GRK_alpha</key>
    <array>
      <string>alpha</string>
      <string>alphatonos</string>
    </array>
    <key>public.kern2.GRK_epsilon</key>
    <array>
      <string>epsilon</string>
      <string>epsilontonos</string>
    </array>
    <key>public.kern2.GRK_eta</key>
    <array>
      <string>eta</string>
      <string>kappa</string>
      <string>mu</string>
      <string>etatonos</string>
    </array>
    <key>public.kern2.GRK_gamma</key>
    <array>
      <string>gamma</string>
      <string>nu</string>
    </array>
    <key>public.kern2.GRK_iota</key>
    <array>
      <string>iota</string>
      <string>iotatonos</string>
      <string>iotadieresis</string>
      <string>iotadieresistonos</string>
    </array>
    <key>public.kern2.GRK_omega</key>
    <array>
      <string>omega</string>
      <string>omegatonos</string>
    </array>
    <key>public.kern2.GRK_omicron</key>
    <array>
      <string>delta</string>
      <string>omicron</string>
      <string>sigmafinal</string>
      <string>sigma</string>
      <string>phi</string>
      <string>omicrontonos</string>
    </array>
    <key>public.kern2.GRK_upsilon</key>
    <array>
      <string>upsilon</string>
      <string>psi</string>
      <string>upsilontonos</string>
      <string>upsilondieresis</string>
      <string>upsilondieresistonos</string>
    </array>
  </dict>
</plist>
