<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Beta</key>
    <dict>
      <key>lambda</key>
      <integer>-10</integer>
      <key>public.kern2.GRK_Alpha</key>
      <integer>-25</integer>
    </dict>
    <key>Chi</key>
    <dict>
      <key>pi</key>
      <integer>-40</integer>
      <key>tau</key>
      <integer>-40</integer>
    </dict>
    <key>Gamma</key>
    <dict>
      <key>chi</key>
      <integer>-120</integer>
      <key>delta</key>
      <integer>-20</integer>
      <key>iotatonos</key>
      <integer>-30</integer>
      <key>pi</key>
      <integer>-120</integer>
      <key>public.kern2.GRK_Alpha</key>
      <integer>-70</integer>
      <key>public.kern2.GRK_Omicron</key>
      <integer>0</integer>
      <key>public.kern2.GRK_alpha</key>
      <integer>-120</integer>
      <key>public.kern2.GRK_epsilon</key>
      <integer>-120</integer>
      <key>public.kern2.GRK_eta</key>
      <integer>-120</integer>
      <key>public.kern2.GRK_gamma</key>
      <integer>-120</integer>
      <key>public.kern2.GRK_iota</key>
      <integer>-120</integer>
      <key>public.kern2.GRK_omega</key>
      <integer>-120</integer>
      <key>public.kern2.GRK_omicron</key>
      <integer>-120</integer>
      <key>public.kern2.GRK_upsilon</key>
      <integer>-120</integer>
      <key>public.kern2.period</key>
      <integer>-50</integer>
      <key>rho</key>
      <integer>-120</integer>
      <key>sigmafinal</key>
      <integer>-120</integer>
      <key>tau</key>
      <integer>-120</integer>
    </dict>
    <key>Kappa</key>
    <dict>
      <key>pi</key>
      <integer>-30</integer>
      <key>tau</key>
      <integer>-30</integer>
    </dict>
    <key>Psi</key>
    <dict>
      <key>public.kern2.GRK_Alpha</key>
      <integer>-70</integer>
      <key>public.kern2.period</key>
      <integer>-50</integer>
    </dict>
    <key>Sigma</key>
    <dict>
      <key>chi</key>
      <integer>-40</integer>
      <key>pi</key>
      <integer>-60</integer>
      <key>public.kern2.GRK_upsilon</key>
      <integer>-20</integer>
      <key>tau</key>
      <integer>-80</integer>
    </dict>
    <key>Tau</key>
    <dict>
      <key>chi</key>
      <integer>-90</integer>
      <key>delta</key>
      <integer>-10</integer>
      <key>pi</key>
      <integer>-90</integer>
      <key>public.kern2.GRK_Alpha</key>
      <integer>-70</integer>
      <key>public.kern2.GRK_alpha</key>
      <integer>-90</integer>
      <key>public.kern2.GRK_epsilon</key>
      <integer>-90</integer>
      <key>public.kern2.GRK_eta</key>
      <integer>-90</integer>
      <key>public.kern2.GRK_gamma</key>
      <integer>-90</integer>
      <key>public.kern2.GRK_iota</key>
      <integer>-90</integer>
      <key>public.kern2.GRK_omega</key>
      <integer>-90</integer>
      <key>public.kern2.GRK_omicron</key>
      <integer>-90</integer>
      <key>public.kern2.GRK_upsilon</key>
      <integer>-90</integer>
      <key>public.kern2.period</key>
      <integer>-50</integer>
      <key>rho</key>
      <integer>-90</integer>
      <key>tau</key>
      <integer>-90</integer>
    </dict>
    <key>chi</key>
    <dict>
      <key>public.kern2.GRK_alpha</key>
      <integer>-10</integer>
    </dict>
    <key>guillemetleft</key>
    <dict>
      <key>Upsilontonos</key>
      <integer>250</integer>
      <key>public.kern2.GRK_Epsilontonos</key>
      <integer>200</integer>
      <key>public.kern2.GRK_Omicrontonos</key>
      <integer>150</integer>
    </dict>
    <key>lambda</key>
    <dict>
      <key>pi</key>
      <integer>-20</integer>
      <key>public.kern2.GRK_gamma</key>
      <integer>-10</integer>
      <key>tau</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.GRK_Alpha</key>
    <dict>
      <key>Psi</key>
      <integer>-70</integer>
      <key>Tau</key>
      <integer>-70</integer>
      <key>public.kern2.GRK_Epsilon</key>
      <integer>0</integer>
      <key>public.kern2.GRK_Omicron</key>
      <integer>-40</integer>
      <key>public.kern2.GRK_Upsilon</key>
      <integer>-70</integer>
      <key>tau</key>
      <integer>-30</integer>
      <key>theta</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.GRK_Omicron</key>
    <dict>
      <key>Sigma</key>
      <integer>-10</integer>
      <key>public.kern2.GRK_Alpha</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.GRK_Upsilon</key>
    <dict>
      <key>chi</key>
      <integer>-60</integer>
      <key>delta</key>
      <integer>-20</integer>
      <key>pi</key>
      <integer>-60</integer>
      <key>public.kern2.GRK_Alpha</key>
      <integer>-70</integer>
      <key>public.kern2.GRK_alpha</key>
      <integer>-60</integer>
      <key>public.kern2.GRK_epsilon</key>
      <integer>-60</integer>
      <key>public.kern2.GRK_eta</key>
      <integer>-60</integer>
      <key>public.kern2.GRK_gamma</key>
      <integer>-60</integer>
      <key>public.kern2.GRK_iota</key>
      <integer>-60</integer>
      <key>public.kern2.GRK_omega</key>
      <integer>-60</integer>
      <key>public.kern2.GRK_omicron</key>
      <integer>-60</integer>
      <key>public.kern2.GRK_upsilon</key>
      <integer>-60</integer>
      <key>public.kern2.period</key>
      <integer>-100</integer>
      <key>rho</key>
      <integer>-60</integer>
      <key>tau</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.GRK_alpha</key>
    <dict>
      <key>chi</key>
      <integer>-20</integer>
      <key>pi</key>
      <integer>-40</integer>
      <key>public.kern2.GRK_gamma</key>
      <integer>-20</integer>
      <key>public.kern2.GRK_omicron</key>
      <integer>-20</integer>
      <key>public.kern2.GRK_upsilon</key>
      <integer>-20</integer>
      <key>tau</key>
      <integer>-30</integer>
      <key>theta</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.GRK_eta</key>
    <dict>
      <key>public.kern2.GRK_gamma</key>
      <integer>-10</integer>
      <key>tau</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.GRK_gamma</key>
    <dict>
      <key>lambda</key>
      <integer>-30</integer>
      <key>public.kern2.GRK_alpha</key>
      <integer>-20</integer>
      <key>public.kern2.GRK_eta</key>
      <integer>0</integer>
      <key>public.kern2.GRK_omicron</key>
      <integer>-10</integer>
      <key>public.kern2.period</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.GRK_iota</key>
    <dict>
      <key>chi</key>
      <integer>-20</integer>
      <key>pi</key>
      <integer>-40</integer>
      <key>public.kern2.GRK_gamma</key>
      <integer>-20</integer>
      <key>public.kern2.GRK_omicron</key>
      <integer>-20</integer>
      <key>public.kern2.GRK_upsilon</key>
      <integer>-20</integer>
      <key>tau</key>
      <integer>-30</integer>
      <key>theta</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.GRK_omicron</key>
    <dict>
      <key>lambda</key>
      <integer>-20</integer>
      <key>public.kern2.GRK_gamma</key>
      <integer>-10</integer>
      <key>zeta</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.GRK_upsilon</key>
    <dict>
      <key>lambda</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.H</key>
    <dict>
      <key>Upsilontonos</key>
      <integer>250</integer>
      <key>public.kern2.GRK_Epsilontonos</key>
      <integer>200</integer>
      <key>public.kern2.GRK_Omicrontonos</key>
      <integer>150</integer>
    </dict>
    <key>public.kern1.Rho</key>
    <dict>
      <key>public.kern2.GRK_Alpha</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.mu</key>
    <dict>
      <key>pi</key>
      <integer>-40</integer>
      <key>public.kern2.GRK_alpha</key>
      <integer>-20</integer>
      <key>public.kern2.GRK_upsilon</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.parenleft</key>
    <dict>
      <key>Upsilontonos</key>
      <integer>250</integer>
      <key>public.kern2.GRK_Epsilontonos</key>
      <integer>200</integer>
      <key>public.kern2.GRK_Omicrontonos</key>
      <integer>150</integer>
    </dict>
    <key>public.kern1.parenright</key>
    <dict>
      <key>Upsilontonos</key>
      <integer>250</integer>
      <key>public.kern2.GRK_Epsilontonos</key>
      <integer>200</integer>
      <key>public.kern2.GRK_Omicrontonos</key>
      <integer>150</integer>
    </dict>
    <key>public.kern1.quoteleft</key>
    <dict>
      <key>Upsilontonos</key>
      <integer>250</integer>
      <key>public.kern2.GRK_Epsilontonos</key>
      <integer>200</integer>
      <key>public.kern2.GRK_Omicrontonos</key>
      <integer>150</integer>
    </dict>
    <key>public.kern1.sigma</key>
    <dict>
      <key>lambda</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.slash</key>
    <dict>
      <key>Upsilontonos</key>
      <integer>250</integer>
      <key>public.kern2.GRK_Epsilontonos</key>
      <integer>200</integer>
      <key>public.kern2.GRK_Omicrontonos</key>
      <integer>150</integer>
    </dict>
    <key>public.kern1.space</key>
    <dict>
      <key>Upsilontonos</key>
      <integer>250</integer>
      <key>public.kern2.GRK_Epsilontonos</key>
      <integer>200</integer>
      <key>public.kern2.GRK_Omicrontonos</key>
      <integer>150</integer>
    </dict>
    <key>xi</key>
    <dict>
      <key>pi</key>
      <integer>-20</integer>
      <key>public.kern2.GRK_alpha</key>
      <integer>-50</integer>
      <key>public.kern2.GRK_epsilon</key>
      <integer>-50</integer>
      <key>public.kern2.GRK_eta</key>
      <integer>-20</integer>
      <key>public.kern2.GRK_gamma</key>
      <integer>-40</integer>
      <key>public.kern2.GRK_iota</key>
      <integer>-40</integer>
      <key>public.kern2.GRK_omega</key>
      <integer>-30</integer>
      <key>public.kern2.GRK_omicron</key>
      <integer>-30</integer>
      <key>public.kern2.GRK_upsilon</key>
      <integer>-40</integer>
      <key>tau</key>
      <integer>-20</integer>
    </dict>
    <key>zeta</key>
    <dict>
      <key>pi</key>
      <integer>-50</integer>
      <key>public.kern2.GRK_alpha</key>
      <integer>-50</integer>
      <key>public.kern2.GRK_epsilon</key>
      <integer>-50</integer>
      <key>public.kern2.GRK_eta</key>
      <integer>-40</integer>
      <key>public.kern2.GRK_gamma</key>
      <integer>-40</integer>
      <key>public.kern2.GRK_iota</key>
      <integer>-40</integer>
      <key>public.kern2.GRK_omega</key>
      <integer>-50</integer>
      <key>public.kern2.GRK_omicron</key>
      <integer>-50</integer>
      <key>public.kern2.GRK_upsilon</key>
      <integer>-40</integer>
      <key>tau</key>
      <integer>-50</integer>
    </dict>
  </dict>
</plist>
